.currency{
    max-height: 400px;
    overflow: scroll;
}
.data-button{
    text-allign:center;
}
.data-button button{
    margin-top: 50px;
}
.dynamic-list{
    padding: 2px;
}
.graph{
    padding: 2px;
}